<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<title>Create Item</title>
</head>

<body>
    <nav  class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <h1 class="navbar-brand">Fire Pants
                <img class="sm-icon" src="{{ url_for('static', filename='img/fire.png') }}" alt="flame">
            </h1>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/listings/user">My Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/listings">All Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <form class="container-sm" action="/listings/update/{{listing.id}}" method="POST">
        <div class="row">
            <div class="col mb-3">
                <label class="form-label">Type</label>
                <input type="text" class="form-control" name="type" value="{{listing.type}}">
            </div>
            <div class="col mb-3">
                <label class="form-label">Trend</label>
                <input type="text" class="form-control" name="trend" value="{{listing.trend}}">
            </div>

        </div>
        <div class="row mb-3">
            <label class="form-check-label">Description</label>
            <textarea name="description" cols="30" rows="10">{{listing.description}} </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div class="container-sm">
        {% with messages = get_flashed_messages(category_filter=['listing'])%}
            {%if messages%}
            {% for message in messages %}
            <p class='form-control is-invalid'>{{message}}</p>
            {% endfor %}
            {%endif%}
            {%endwith%}
    </div>
</body>

</html>