<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Items</title>
</head>
<body>
    <table>
        <thead>
            <th>Type</th>
            <th>Trend</th>
            <th>is Fire?</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {%for p in all_listings%}
            <tr>
                <td>
                    {{p.type}}
                </td>
                <td>{{p.trend}}</td>
                {#
                {%if p.stoked_val > 0 %}
                <td> Fire </td>
                {%else%} 
                <td>Not Yet</td>
                {%endif%}
                #}
                <td><a href="/firefits/listings/{{p.id}}">View</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>